.control-arbitraj {
  width: 760px;
  height: 640px;
  background: #ffffff;
  border-radius: 32px;
  padding-top: 30px;
}

.control-table-arbitraj {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-arbitraj {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  padding: 0 30px 20px 30px;
  border-bottom: solid #9297a0 1px;
}

.arbtr-control {
  padding: 12px 0;
  border-bottom: solid #9297a0 1px;
}

.control-title-arbitraj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.line-menu-span {
  width: 1px;
  height: 20px;
  background: #9297a0;
}

.rank-them {
  width: 60px;
  padding-left: 20px;
}
.control-img {
  width: 40px;
  margin-left: 10px;
}

.name-them {
  width: 260px;
  margin-left: 50px;
}

.img-icons-arbtr {
  width: 25px;
}

.control-Name-FulName {
  width: 150px;
  font-size: 20px;
  font-weight: 400;
  text-align: start;
}

.span-Name {
  color: #9297a0;
  padding-left: 10px;
}

.price-them {
  width: 120px;
  margin-left: 30px;
}

.control-price-usd {
  width: 150px;
}

.h24-them {
  width: 100px;
  margin-left: 50px;
}

.control-24h {
  width: 130px;
}

.gren {
  color: green;
}

.red {
  color: red;
}

/* ============================================================================== */

@media (min-width: 426px) and (max-width: 487px) {
  .control-arbitraj {
    width: 425px;
    height: 500px;
    background: #ffffff;
    border-radius: 32px;
    margin: 0;
    padding: 20px 0;
  }

  .control-table-arbitraj {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-arbitraj {
    display: flex;
    flex-direction: row;
    padding: 0 20px 10px 20px;
    border-bottom: solid #9297a0 1px;
  }

  .arbtr-control {
    padding: 8px 0;
    border-bottom: solid #9297a0 1px;
  }

  .control-title-arbitraj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .line-menu-span {
    width: 1px;
    height: 20px;
    margin-left: 34px;
    background: #9297a0;
  }

  .rank-them {
    width: 10px;
    padding-left: 0px;
  }
  .control-img {
    width: 20px;
    margin-left: 0px;
  }

  .img-icons-arbtr {
    width: 20px;
  }

  .name-them {
    width: 100px;
    margin-left: 20px;
    font-size: 14px;
  }

  .control-Name-FulName {
    width: 70px;
    font-size: 10px;
    font-weight: 400;
    text-align: start;
  }

  .control-Name-Name {
    width: 30px;
    font-size: 10px;
    font-weight: 400;
    text-align: start;
  }

  .span-Name {
    color: #9297a0;
    padding-left: 0px;
  }

  .price-them {
    width: 60px;
    margin-left: 30px;
    font-size: 14px;
  }

  .control-price-usd {
    width: 150px;
  }

  .h24-them {
    width: 60px;
    margin-left: 14px;
    font-size: 14px;
  }

  .control-24h {
    width: 60px;
    font-size: 10px;
  }

  .gren {
    color: green;
  }

  .red {
    color: red;
  }
}

/* ============================================================================== */

@media (min-width: 376px) and (max-width: 425px) {
  .control-arbitraj {
    width: 375px;
    height: 500px;
    background: #ffffff;
    border-radius: 32px;
    padding: 20px 0;
  }

  .control-table-arbitraj {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-arbitraj {
    display: flex;
    flex-direction: row;
    padding: 0 20px 10px 20px;
    border-bottom: solid #9297a0 1px;
  }

  .arbtr-control {
    padding: 8px 0;
    border-bottom: solid #9297a0 1px;
  }

  .control-title-arbitraj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .line-menu-span {
    width: 1px;
    height: 20px;
    margin-left: 20px;
    background: #9297a0;
  }

  .rank-them {
    width: 10px;
    padding-left: 0px;
  }
  .control-img {
    width: 20px;
    margin-left: 0px;
  }

  .img-icons-arbtr {
    width: 20px;
  }

  .name-them {
    width: 100px;
    margin-left: 20px;
    font-size: 14px;
  }

  .control-Name-FulName {
    width: 70px;
    font-size: 10px;
    font-weight: 400;
    text-align: start;
  }

  .control-Name-Name {
    width: 30px;
    font-size: 10px;
    font-weight: 400;
    text-align: start;
  }

  .span-Name {
    color: #9297a0;
    padding-left: 0px;
  }

  .price-them {
    width: 60px;
    margin-left: 25px;
    font-size: 14px;
  }

  .control-price-usd {
    width: 150px;
  }

  .h24-them {
    width: 60px;
    margin-left: 12px;
    font-size: 14px;
  }

  .control-24h {
    width: 60px;
    font-size: 10px;
  }

  .gren {
    color: green;
  }

  .red {
    color: red;
  }
}

/* ============================================================================== */

@media (min-width: 320px) and (max-width: 375px) {
  .control-arbitraj {
    width: 320px;
    height: 500px;
    background: #ffffff;
    border-radius: 32px;
    margin: 0;
    padding: 20px 0;
  }

  .control-table-arbitraj {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-arbitraj {
    display: flex;
    flex-direction: row;
    padding: 0 20px 10px 20px;
    border-bottom: solid #9297a0 1px;
  }

  .arbtr-control {
    padding: 8px 0;
    border-bottom: solid #9297a0 1px;
  }

  .control-title-arbitraj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .line-menu-span {
    width: 1px;
    height: 20px;
    margin-left: 12px;
    background: #9297a0;
  }

  .rank-them {
    width: 10px;
    padding-left: 0px;
  }
  .control-img {
    width: 20px;
    margin-left: 0px;
  }

  .img-icons-arbtr {
    width: 20px;
  }

  .name-them {
    width: 100px;
    margin-left: 5px;
    font-size: 14px;
  }

  .control-Name-FulName {
    width: 70px;
    font-size: 10px;
    font-weight: 400;
    text-align: start;
  }

  .control-Name-Name {
    width: 30px;
    font-size: 10px;
    font-weight: 400;
    text-align: start;
  }

  .span-Name {
    color: #9297a0;
    padding-left: 0px;
  }

  .price-them {
    width: 60px;
    margin-left: 15px;
    font-size: 14px;
  }

  .control-price-usd {
    width: 150px;
  }

  .h24-them {
    width: 62px;
    margin-left: 12px;
    font-size: 14px;
  }

  .control-24h {
    width: 60px;
    font-size: 10px;
  }

  .gren {
    color: green;
  }

  .red {
    color: red;
  }
}
